.logo {
  a {
    display: flex;
    color: #212529;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.75rem;
    align-items: center;
    &:hover {
        color:#f24088;
    }
  }
  svg {
    margin-right: .5rem;
  }
}
